<div class="row">
<div class="col-md-3"><%= User.find(comment.user_id).name %> :</div>  
<div class="col-md-3 comment-body-style" ><%= comment.content %> </div><br>
<div clas="col-md-6" style="width: 500px;"></div>
</div>